/* 版心 */
.w {
  width: 1200px;
  margin: 0 auto;
}

/* 快捷导航栏 */
.shortcut {
  height: 31px;
  background-color: #f1f1f1;
  /* 文字垂直居中 */
  line-height: 31px;
}

/* 快捷导航栏左盒子*/
.fl {
  float: left;
}

/* 快捷导航栏右盒子*/
.fr {
  float: right;
}

/* 快捷导航栏盒子内部的li需要浮动 */
.shortcut ul li {
  float: left;
}

/* 红色文字样式 */
.red_style {
  color: #c81623;
}

/* 快捷导航栏右侧盒子内部的分割线li样式 */
.shortcut .fr ul li:nth-child(even) {
  width: 1px;
  height: 12px;
  background-color: #666;
  margin: 9px 15px 0;
}

/* 伪元素+字体图标全实现下拉图标 */
.fr .arrow-icon::after {
  content: "\e91e";
  margin-left: 6px;
  font-family: 'icomoon';
}

/* 字体图标样式 */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tomleg');
  src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tomleg') format('truetype'),
    url('../fonts/icomoon.woff?tomleg') format('woff'),
    url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* header模块样式 */
.header {
  position: relative;
  height: 105px;
  background-color: pink;
}

/* logo盒子样式 */
.logo {
  /* 定位注意子绝父相 */
  position: absolute;
  top: 25px;
  width: 171px;
  height: 61px;
}

/* logo中a标签的样式 */
.logo a {
  display: block;
  width: 171px;
  height: 61px;
  background: url(../images/logo.png) no-repeat;
  font-size: 0;
}