/* 版心 */
.w {
  width: 1200px;
  margin: 0 auto;
}

/* 快捷导航栏 */
.shortcut {
  height: 31px;
  background-color: #f1f1f1;
  /* 文字垂直居中 */
  line-height: 31px;
}

/* 快捷导航栏左盒子*/
.fl {
  float: left;
}

/* 快捷导航栏右盒子*/
.fr {
  float: right;
}

/* 快捷导航栏盒子内部的li需要浮动 */
.shortcut ul li {
  float: left;
}

/* 红色文字样式 */
.red_style {
  color: #c81623;
}

/* 快捷导航栏右侧盒子内部的分割线li样式 */
.shortcut .fr ul li:nth-child(even) {
  width: 1px;
  height: 12px;
  background-color: #666;
  margin: 9px 15px 0;
}

/* 伪元素+字体图标全实现下拉图标 */
.fr .arrow-icon::after {
  content: "\e91e";
  margin-left: 6px;
  font-family: "icomoon";
}

/* 字体图标样式 */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?tomleg");
  src: url("../fonts/icomoon.eot?tomleg#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?tomleg") format("truetype"),
    url("../fonts/icomoon.woff?tomleg") format("woff"),
    url("../fonts/icomoon.svg?tomleg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* header模块样式 */
.header {
  position: relative;
  height: 105px;
  background-color: pink;
}

/* logo盒子样式 */
.logo {
  /* 定位注意子绝父相 */
  position: absolute;
  top: 25px;
  width: 171px;
  height: 61px;
}

/* logo中a标签的样式 */
.logo a {
  display: block;
  width: 171px;
  height: 61px;
  background: url(../images/logo.png) no-repeat;
  font-size: 0;
}

/* search搜索模块 */
.search {
  position: absolute;
  left: 346px;
  top: 25px;
  width: 538px;
  height: 36px;
  border: 2px solid #b1191a;
}
.search input {
  width: 455px;
  height: 32px;
  padding-left: 10px;
}
.search button {
  position: absolute;
  width: 80px;
  height: 33px;
  background-color: #b1191a;
  font-size: 16px;
  color: #fff;
}

/* hotwords模块 */
.hotwords {
  position: absolute;
  top: 66px;
  left: 346px;
}
.hotwords a {
  margin: 0 10px;
}

/* 购物车模块 */
.shoppingcar {
  position: absolute;
  right: 60px;
  top: 25px;
  width: 140px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
}

/* 购物车模块购物车图标 */
.shoppingcar::before {
  font-family: "icomoon";
  content: "\e93a";
  color: #b1191a;
  margin-right: 5px;
}
/* 购物车模块右箭头图标 */
.shoppingcar::after {
  font-family: "icomoon";
  content: "\e920";
  margin-left: 10px;
}
/* 购物车数量统计模块 */
.shopcount {
  position: absolute;
  top: -4px;
  left: 95px;
  border-radius: 7px 7px 7px 0;
  height: 14px;
  line-height: 14px;
  background-color: #e60012;
  color: #fff;
  padding: 0 5px;
}

/* nav导航栏制作 */
.nav {
  height: 47px;
  border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
  float: left;
  width: 210px;
  height: 46px;
  background-color: #b1191a;
}
.nav .navitems {
  float: left;
}
.dropdown .dt {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
}
.dropdown .dd {
  width: 100%;
  height: 465px;
  background-color: #c81623;
}
.dropdown .dd ul li {
  position: relative;
  color: #fff;
  height: 31px;
  line-height: 31px;
  margin-left: 2px;
  padding-left: 10px;
}
.dropdown .dd ul li::after {
  position: absolute;
  top: 1px;
  right: 5px;
  content: "\e920";
  font-family: "icomoon";
  color: #fff;
  font-size: 14px;
}
.dropdown .dd ul li:hover {
  background-color: #fff;
}
.dropdown .dd ul li a {
  color: #fff;
  font-size: 14px;
}
.dropdown .dd ul li:hover a {
  color: #c81623;
}
