.main {
  width: 980px;
  height: 455px;
  margin-left: 220px;
  margin-top: 10px;
}
.main .focus {
  float: left;
  width: 721px;
  height: 455px;
}
.main .newflash {
  float: right;
  width: 250px;
  height: 455px;
}
.newflash .news {
  height: 165px;
  /* background-color: plum; */
  border: 1px solid #e4e4e4;
}
.news-hd {
  height: 33px;
  line-height: 33px;
  padding: 0 15px;
  border-bottom: 1px dotted #e4e4e4;
}
.news-hd h5 {
  float: left;
  font-size: 14px;
}
.news-hd .more {
  float: right;
}
.news-hd .more::after {
  font-family: "icomoon";
  content: "\e920";
}
.news-bd {
  padding: 5px 15px 0;
}
.news-bd ul li {
  height: 24px;
  line-height: 24px;
  /* 设置内容超出部分出现省略号 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.newflash .lifeservice {
  /* 隐藏四个li中被挤出去的部分 */
  overflow: hidden;
  height: 209px;
  /* background-color: grey; */
  border: 1px solid #e4e4e4;
  border-top: 0;
}
.newflash .bargain {
  margin-top: 5px;
}
/* 扩大父元素宽度，让四个li能够排在一行 */
.lifeservice ul {
  width: 252px;
}
.lifeservice ul li {
  float: left;
  height: 71px;
  width: 63px;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
}
.lifeservice ul li i {
  display: inline-block;
  width: 24px;
  height: 28px;
  margin-top: 12px;
  background: url(../images/icons.png) no-repeat;
}
.lifeservice ul li .huafei {
  background-position: -19px -15px;
}
.lifeservice ul li .chuxing {
  background-position: -79px -15px;
}
.lifeservice ul li .dianying {
  background-position: -142px -15px;
}
.lifeservice ul li .youxi {
  background-position: -203px -15px;
}
/* 推荐模块 */
.recommend {
  height: 163px;
  margin-top: 12px;
  background-color: #ebebeb;
}
.recommend-hd {
  padding-top: 30px;
  float: left;
  height: 163px;
  width: 205px;
  text-align: center;
  background-color: #5c5251;
}
.recommend-bd {
  float: left;
  height: 163px;
}
.recommend-bd ul li {
  position: relative;
  float: left;
}
.recommend-bd ul li:nth-child(-n+3)::after {
  content: "";
  height: 145px;
  width: 2px;
  background-color: #ddd;
  position: absolute;
  top: 10px;
  right: 0;
}
.box-hd {
  height: 30px;
  border-bottom: 2px solid #c81623;
}
.box-hd h3 {
  float: left;
  font-size: 18px;
  font-weight: 400;
  color: #c81623;
}
.box-hd .tab_list {
  float: right;
  line-height: 30px;
}
.box-hd .tab_list ul li {
  float: left;
}
.box-hd .tab_list ul li a {
  margin: 0 15px;
}
.floor .w {
  margin-top: 30px;
}
.box_bd {
  height: 361px;
  /* background-color: pink; */
}
.tab_list_item >div{
  float: left;
  height: 361px;
}
.col_210 {
  width: 210px;
  background-color: #f9f9f9;
  text-align: center;
}
.col_329 {
  width: 329px;
}
.col_221 {
  width: 221px;
  border-right: 1px solid #ccc;
}
.col_219 {
  width: 219px;
}
.col_210 ul {
  padding-left: 12px;
}
.col_210 ul li {
  float: left;
  height: 34px;
  width: 85px;
  border-bottom: 1px solid #ccc;
  margin-right: 10px;
  text-align: center;
  line-height: 34px;
}
.bb {
  /* 如果标签包含有宽度的元素，需要转换为块级元素 */
  display: block;
  border-bottom: 1px solid #ccc;
}