.main {
  width: 980px;
  height: 455px;
  margin-left: 220px;
  margin-top: 10px;
}
.main .focus {
  float: left;
  width: 721px;
  height: 455px;
}
.main .newflash {
  float: right;
  width: 250px;
  height: 455px;
}
.newflash .news {
  height: 165px;
  /* background-color: plum; */
  border: 1px solid #e4e4e4;
}
.news-hd {
  height: 33px;
  line-height: 33px;
  padding: 0 15px;
  border-bottom: 1px dotted #e4e4e4;
}
.news-hd h5 {
  float: left;
  font-size: 14px;
}
.news-hd .more {
  float: right;
}
.news-hd .more::after {
  font-family: "icomoon";
  content: "\e920";
}
.news-bd {
  padding: 5px 15px 0;
}
.news-bd ul li {
  height: 24px;
  line-height: 24px;
}
.newflash .lifeservice {
  height: 209px;
  background-color: grey;
}
.newflash .bargain {
  margin-top: 5px;
}